<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <title>ESMS Bus Times</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/pico.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
<main class="{{ 'container-fluid' if timetable else 'container' }}">
  <h1>ESMS Bus Timetable</h1>

  {% if not timetable %}
    <p>No timetable data found. This is probably due to an issue with data collection - please let Andrew know!</p>

  {% else %}
    <table>
      <tr>
        <th>Departure Time</th>
        <th>From</th>
        <th>To</th>
        <th>Notes</th>
        <th>Relative Time</th>
      </tr>

      {% for bus in timetable %}
        <tr>
          <td>
            <div class="table-cell" style="background-color: #253745">
              {{ bus['departure_time'] | format_timestamp }}
            </div>
          </td>
          <td>
            <div class="table-cell" style="background-color: {{ bus['location'] | location_colour }}">
              {{ bus['location'] }}
            </div>
          </td>
          <td>
            <div class="table-cell" style="background-color: {{ bus['destination'] | location_colour }}">
              {{ bus['destination'] }}
            </div>
          </td>
{#          <td>{{ bus['vehicle'] }}</td>#}
{#          <td>{{ bus['group'] }}</td>#}
          <td style="color: var(--muted-color)">
            {{ bus['comments'] }}
          </td>
          <td>
            <div class="table-cell" style="background-color: {{ bus['departure_time'] | time_colour }}">
              {{ bus['departure_time'] | relative_timestamp }}
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% endif %}
</main>
</body>
</html>
