<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <title>ESMS Bus Times</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/pico.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">

  <script src="/static/js/htmx.min.js"></script>
</head>

<body>
<main class="{{ 'container-fluid' if timetable else 'container' }}">
  <h1>ESMS Bus Timetable</h1>

  {% include 'timetable.html' %}
</main>
</body>
</html>
